.descriptorContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    right: 20px;
    width: 60%;
    height: fit-content;
    min-height: 100px;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    z-index: 11;
}

.descriptorShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 32px;
    transition: transform 0.3s ease;
    z-index: 1;
}

.descriptorContainer:hover .descriptorShadow {
    transform: translate(10px, 10px);
}

.descriptor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: fit-content;
    z-index: 10;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-bottom: 5px solid black;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 25px;
    gap: 20px;
    align-items: center;
    padding: 10px 15px;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    height: 100%;
}

.descriptor button {
    display: flex;
    justify-content: flex;
    align-items: center;
    width: 25px;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 900;
}

.descriptor button:hover, .descriptor button:focus {
    outline: none;
    border: none;
}